<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ALC_ZPrint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ALC_ZPrint.Properties.Settings>
      <setting name="jsonUrl" serializeAs="String">
        <value>http://data.ex.co.kr/openapi/safeDriving/forecast?key=test&amp;type=json</value>
      </setting>
      <setting name="zplDataType" serializeAs="String">
        <value>ALC(55×25)</value>
      </setting>
      <setting name="companyList" serializeAs="String">
        <value>Z02, Z03</value>
      </setting>
      <setting name="optionList" serializeAs="String">
        <value>CN7:Z02, CN7N:Z01</value>
      </setting>
    </ALC_ZPrint.Properties.Settings>
  </userSettings>
</configuration>